/* Hero slider */
.hero-swiper {
  width: 100%;
  height: 100%;
}
.hero-swiper .mySwiper {
  width: 100%;
  height: 30vh;
}

.hero-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-swiper .swiper-slide img {
  display: block;
  width: 100%;
}
